apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 339712864309.dkr.ecr.ap-northeast-2.amazonaws.com/backend:v1
          ports:
            - containerPort: 3500
