apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 339712864309.dkr.ecr.ap-northeast-2.amazonaws.com/frontend:v1
          ports:
            - containerPort: 80
