apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: app
  annotations:
    alb.ingress.kubernetes.io/healthcheck-path: /  
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP

